.*
*.md
agricius
Dockerfile*
docker-compose*
docs/maintainers/
judge0.conf
log/*
scripts/dev/
srv/
tmp/*
contrib/cgroups-v2/judge0.conf
contrib/cgroups-v2/*-results.json
contrib/cgroups-v2/__pycache__/
